<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LOGIN</title>
    <link rel="stylesheet" type="text/css" href="/static/meetup/css/login.css">
  </head>
  <body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

<form action="" method="post">
    {% csrf_token %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3">
  			<div id="iosBlurBg">
  				<div id="whiteBg"></div>
  			</div>
  			<div id="bottomEnter"></div>
  			<div id="bottomBlurBg"></div>
  			<!-- Login Form -->
  			<div class="loginForm">
  				<div class="title">
  					<p>LOG INTO<br><span>SYSTEM</span></p>
  					<hr>
  					<hr class="short">
  				</div>
  				<form>
  					<div class="col-3">
			        	<input class="effect-2" type="text" placeholder="Login..." name="username" value="{{ form.username.value|default_if_none:"" }}">
			            <span class="focus-border"></span>

			            <input class="effect-2" type="password" name="password" placeholder="Password...">
			            <span class="focus-border"></span>
			        </div>

			        <div class="forget">
			        	<button class="btn btn-default btn-sm">FORGOT PASSWORD?</button>
			        </div>

  				</form>
  			</div>
  			<a href="#">
          </div>
  				<div class="enterButton">
	  				<i class="fa fa-lock fa-2x text-white"></i><br>
	  				<button type="submit"><span class="enterText text-white">Enter</span></button>
	  			</div>
  			</a>
		</div>
	</div>
</div>
</form>
  </body>
</html>
